// variables
$option-1: linear-gradient(#a18cd1 0%, #fbc2eb 100%);
$option-2: linear-gradient(#ff0844 0%, #ffb199 100%);
$option-3: linear-gradient(0deg, #f6d365 0%, #fda085 100%);
$option-4: linear-gradient(0deg, #d5ff75 0%, #84b38a 100%);
$option-5: linear-gradient(#30cfd0 0%, #8946db 100%);
$option-6: linear-gradient(#505285 0%, #585e92 12%, #65689f 25%, #7474b0 37%, #7e7ebb 50%, #8389c7 62%, #9795d4 75%, #a2a1dc 87%, #b5aee4 100%);
$option-7: linear-gradient(#c79081 0%, #dfa579 100%);
$option-8: linear-gradient(to top, #48f1d0 0%, #94922e 100%);

*{
  padding: 0;
  margin: 0;
}

html, body {
  min-height: 100vh;
  font-size: 16px;
}

#bg-container {
  min-height: 70vh;
  display: flex;
  justify-content: center ;
  padding-top: 30vh;
}


.clock {
  font-size: clamp(20px, 20vw, 80px);
  text-align: center;
  color: white;
  font-weight: 700;
  margin-bottom: 40px;
}
.toggle {
  color: white;
  font-size: 16px;
  &:hover {
    text-decoration: underline;
  }
}
.navbar .toggle {
  position: fixed;
  left: 30px;
  top: 40px;
  cursor: pointer;
  background: transparent;;
  border: none;
}
.menu-nav {
  list-style: none;
  position: absolute;
  background: #fff;
  left: 30px;
  top: 60px;
  width: 0;
  overflow: hidden;
  max-width: 290px;
  z-index: 9;
  transform: translateX(-100px);
  border-radius: 3px;

}
.menu-nav.show-menu {
  width: fit-content;
  transform: translateX(0px);
}
.menu-nav li {
  display: block;
  padding: 5px 10px;
  cursor: pointer;
}
#backgrounds * {
  border: 1px solid rgb(230, 221, 221);
  box-shadow: 0 1px 2px rgba(175, 175, 175, 0.616);
  width: calc(100vw / 8);
  aspect-ratio: 1;
  border-radius: 5px;
  cursor: pointer;
  max-width: 70px;
  margin: auto;
}
#backgrounds {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-content: space-around;
}
.block{
  display: block;
}
.none{
  display: none;
}
.option-1 {
  background-image: $option-1;
}
.option-2 {
  background-image: $option-2;
}
.option-3 {
  background-image: $option-3;
}
.option-4 {
  background-image: $option-4;
}
.option-5 {
  background-image: $option-5;
}
.option-6 {
  background-image: $option-6;
}
.option-7 {
  background-image: $option-7;
}
.option-8 {
  background-image: $option-8;
}
#hide-bgs-grid {
  display: block;
  margin: 20px auto;
  padding: 5px 20px;
  border-radius: 5px;
  border: none;
  &:hover {
    filter: brightness(110%);
  }
}